@media (max-width: 767.9px) {

  .footer-container {
    position: relative;
    display: block;
    height: 236px;
    text-align: center;
    line-height: 65px;
    margin: 0 20px 0 20px;
  }

  .html-academy-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
  }

  .html-academy-img {
    margin-top: 25px;
  }

  .footer-logo {
    margin-top: 40px;
  }

  .social-item svg{
    vertical-align : middle;
  }
   

  .horizontal-line {
    position: absolute;
    top: 95px;
    left: 0;
    content: '';
    background-color: #E0E0E0;
    height: 1px;
    width: 100%;
  }

  .horizontal-line::after {
    position: absolute;
    top: 62px;
    left: 0;
    content: '';
    background-color: #E0E0E0;
    height: 1px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    height: 150px;
  }

  .html-academy-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1440px) {

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
    margin-right: 110px;
    height: 150px;
    max-width: 1440px;
  }
}

.footer {
  margin: 0 auto;
  background-color: #f2f2f2;
}

.html-academy-text {
  color: #444444;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
}

.footer-logo {
  width: 128px;
  height: 24px;
}

.html-academy-text {
  margin-right: 23px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 124px;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.footer-logo-link:hover {
  opacity: 0.8;
}

.footer-logo-link:active {
  opacity: 0.6;
}

.html-text-link:active {
  opacity: 0.3;
}

.social-item-link-vk:hover #vk {
  fill: #68b738;
}

.social-item-link-vk:active #vk{
  opacity: 0.3;
}

.social-item-link-insta:hover #insta {
  fill: #68b738;
}

.social-item-link-insta:active #insta {
  opacity: 0.3;
} 

.social-item-link-fb:hover #fb {
  fill: #68b738;
} 

.social-item-link-fb:active #fb {
  opacity: 0.3;
}

.html-logo-link:hover #html-logo {
  fill: #68b738;
} 

.html-logo-link:active #html-logo {
  opacity: 0.3;
}