a {
  text-decoration: none;
 }
 
 html, body {
   margin: 0;
   padding: 0;
 }

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.green-bttn {
  background-color: #68b738;
}

.green-bttn:hover {
  background-color: #5eaa2f;
}

.green-bttn:active {
  color: rgba(255, 255, 255, 0.3);
}

.grey-bttn {
  background-color: #f2f2f2
}

.grey-bttn:hover {
  background-color: #d8d8d8;
}

.grey-bttn:active {
  color: rgba(0, 0, 0, 0.3);
}