
@media (max-width: 767px) {

  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .header-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .burger {
    position: relative;
    width: 24px;
    height: 18px;
  }

  .burger__line_first {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: #000;
    height: 2px;
    width: 24px;
  }
  
  .burger__line_second {
    position: absolute;
    top: 8px;
    left: 0;
    content: '';
    background-color: #000;
    height: 2px;
    width: 24px;
  }
  
  .burger__line_third {
    position: absolute;
    top: 16px;
    left: 0;
    content: '';
    background-color: #000;
    height: 2px;
    width: 24px;
  }

  .list-item {
    color: #111111;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    border-top: 1px solid #E8E8E8;
    line-height: 65px;
  }

  .nav-list {
    padding: 0;
  }

  .list-item__link:hover {
    opacity: 0.6;
  }
  
  .list-item__link:active {
    opacity: 0.3;
  }

}

@media (min-width: 768px) {
  
  .nav-list {
    display: flex;
    margin-right: 30px;
  }

  .logo-container {
    padding-left: 30px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 20px;
  }

  .list-item {
    color: #222222;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    margin-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
  }

  .list-item__link:hover {
    opacity: 0.6;
  }
  
  .list-item__link:active {
    opacity: 0.3;
  }
}

@media (min-width: 1440px) {

  .nav-list {
    margin: 0;
    padding-right: 110px;
  }

  .logo-container {
    padding-left: 110px;
  }

  .header-container {
    padding-top: 70px;
  }

  .list-item__link:hover {
    opacity: 1;
  }

  .list-item__link:active {
    opacity: 1;
  }

  .logo-link:hover {
    opacity: 0.8; 
  }

  .logo-link:active {
    opacity: 0.6; 
  }
}

.header {
  padding: 0;
}

.wrapper {
  margin: 0;
}

.list-item {
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

.list-item__link {
  color: #000;
}

