@media (max-width: 767.9px) {
  body {
    position: relative;
    max-width: 767.9px;
    margin: 0 auto;
   }

  .background-container {
    position: absolute;
    width: 100%;
    height: 305px;
    top: 255px;
    background-image: url('../img/index-background-desktop.jpg');
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 50% 0%;
    z-index: -1;
   }

  .title-big {
   text-align: center;
   color: #ffffff;
   font-family: Oswald;
   font-size: 36px;
   font-weight: 400;
   line-height: 36px;
   }

  .slogan {
    text-align: center;
    margin-bottom: 298px;
    padding: 0;
    color: #ffffff;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
  }

  .choose-a-program {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px 0 10px;
  }

  .first-screen {
    position: relative;
  }

  .first-screen-img-container {
    position: absolute;
    top: 275px;
    left: 48%;
    transform: translate(-50%, -50%);
  }

  .cat-energy-pro-img {
    width: 300px;    
    height: 270px;
  }

  .main-container {
    height: 100%;
  }

  .categories {
    margin: 20px 10px 20px 10px;
  }

  .category {
    position: relative;
    background-color: #f2f2f2;
    margin: 0;
  }

  .slimming,
  .weight-gain {
    display: flex;
    align-items: center;
    margin: 20px 30px 0 30px;
  }

  .slimming__img {
    padding: 5px 27px 0 2px;
    z-index: 1;
  }

  .category-name::after {
    position: absolute;
    top: 25px;
    left: 25px;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #68b738;;
  }

  .slimming__title {
    color: #111111;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    padding-top: 8px;

  }

  .category-description {
    margin: 0;
    color: #444444;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 6px 20px 0px 23px;
  }

  .link-container {
    margin: 22px;
    padding-top: 15px;
    padding-bottom: 17px;
    border-top: 1px solid #E0E0E0;
  }

  .category-link {

    color: #111111;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
  }

  .arrow-img {
    padding-left: 11px;
    width: 24px;
  }

  .weight-gain__img {
    position: absolute;
    top: 35px;
    left: 15px;
    padding-right: 20px;
    z-index: 1;
  } 

  .weight-gain__title {
    color: #111111;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 0 0 64px;
  }



}

@media (min-width: 768px) {

  .main-container {
    height: 850px;
  }
  
  .first-screen {
    position: relative;
  }

  .first-screen-img-container {
    position: absolute;
    top: 255px;
    left: 50px;
    z-index: -1;

  }

  .cat-energy-pro-img {
    padding: auto;
    width: 709px;    
    height: 609px;
  }

  .title-big {
    margin: 0;
    padding: 54px 0 0 117px;
    line-height: 60px;
    color: #111111;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
  }

  .slogan {
    margin: 0;
    padding: 35px 0 56px 118px;
    color: #111111;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
  }

  .choose-a-program {
    padding: 12px 30px 12px 25px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    margin-left: 120px;
  }
}

@media (min-width: 1440px) {
  body {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .background-container {
    position: absolute;
    width: 720px;
    height: 696px;
    top: 0;
    right: 0;
    background-image: url('../img/index-background-desktop.jpg');
    background-repeat: no-repeat;
    z-index: -1;
  }

  .main-container {
    height: 696px;
  }

  .first-screen {
    position: relative;
  }

  .first-screen-img-container {
    position: absolute;
    top: 25px;
    left: 562px;
  }

  .title-big {
    margin: 0;
    padding: 105px 0 0 192px;
    line-height: 60px;
    color: #111111;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
  }

  .slogan {
    margin: 0;
    padding: 35px 0 60px 192px;
    color: #111111;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
  }

  .choose-a-program {
    padding: 12px 27px 12px 27px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    margin-left: 190px;
  }

}

