@media (max-width: 767.9px) {
  body {
    position: relative;
    max-width: 767.9px;
    margin: 0 auto;
   }

  .background-container {
    position: absolute;
    width: 100%;
    height: 305px;
    top: 255px;
    background-image: url('../img/index-background-desktop.jpg');
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 50% 0%;
    z-index: -1;
   }

  .title-big {
   text-align: center;
   color: #ffffff;
   font-family: Oswald;
   font-size: 36px;
   font-weight: 400;
   line-height: 36px;
   }

  .slogan {
    text-align: center;
    margin-bottom: 298px;
    padding: 0;
    color: #ffffff;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
  }

  .choose-a-program {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px 0 10px;
  }

  .first-screen {
    position: relative;
  }

  .first-screen-img-container {
    position: absolute;
    top: 275px;
    left: 48%;
    transform: translate(-50%, -50%);
  }

  .cat-energy-pro-img {
    width: 300px;    
    height: 270px;
  }

  .main-container {
    height: 100%;
  }

  .categories {
    margin: 20px 10px 20px 10px;
  }

  .category {
    position: relative;
    background-color: #f2f2f2;
    margin: 0;
  }

  .slimming,
  .weight-gain {
    display: flex;
    align-items: center;
    margin: 20px 30px 0 30px;
  }

  .slimming__img {
    padding: 5px 27px 0 2px;
    width: 35px;
    height: 49px;
    z-index: 1;
  }

  .slimming::after,
  .weight-gain::after {
    position: absolute;
    top: 25px;
    left: 25px;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #68b738;
  }

  .slimming__title {
    color: #111111;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    padding-top: 8px;

  }

  .category-description {
    margin: 0;
    color: #444444;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 6px 20px 0px 23px;
  }

  .link-container {
    margin: 22px;
    padding-top: 15px;
    padding-bottom: 17px;
    border-top: 1px solid #E0E0E0;
  }

  .category-link {

    color: #111111;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
  }

  .arrow-img {
    padding-left: 11px;
    width: 24px;
  }

  .weight-gain__img {
    position: absolute;
    top: 35px;
    left: 15px;
    width: 67px;
    padding-right: 20px;
    z-index: 1;
  } 

  .weight-gain__title {
    color: #111111;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 0 0 64px;
  }



  .advantages-title {
    color: #111111;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    padding-left: 12px;
    padding-bottom: 20px;
  }

  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: 12px;
  }

  .advantage-1,
  .advantage-2,
  .advantage-3,
  .advantage-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }

  .advantage-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  .advantage-img {
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantage-description {
    color: #444444;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
  }

  .live-example {
    background-color: #f2f2f2;
    padding: 0 10px 10px 10px;
    margin-top: 30px;
  }

  .live-example-title {
    color: #111111;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    padding-top: 20px;
  }

  .live-example-description {
    color: #444444;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 15px;
  }

  .weight-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  .weight-back-left,
  .weight-back-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 56px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
  }

  .weight-back-right {
    margin-left: 30px;
  }

  .weight-back-left::after {
    position: absolute;
    content: 'снижение веса';
    color: #444444;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    border: 5px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 70px;
    top: 40px;
    left: 20px;
    text-align: center;
  }

  .weight-back-right::after {
    position: absolute;
    content: 'затрачено времени';
    color: #444444;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    border: 5px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 70px;
    top: 40px;
    left: 20px;
    text-align: center;
  }

  .weight-back__text {
    color: #111111;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
  }

  .food-costs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    margin-left: 30px;
  }

  .food-costs__text {
    color: #111111;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
  }

  .live-example-image-container {
    position: relative;
    height: 232px;
    display: flex;
    justify-content: center;
  }

  .live-example-image-container::after {
    position: absolute;
    content: '';
    background-image: url('../img/before-mobile.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 311px;
    height: 232px;
    top: 28px;
  }

  .was-and-is {
    margin-left: auto;
    margin-right: auto;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3px;
    padding-top: 42px;
  }

  .was,
  .is {
    color: #111111;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    padding-top: 42px;
    padding: 0;
  }

  .switch {
    position: relative;
    width: 82px;
    height: 12px;
    border: 1px solid #E0E0E0;
    border-radius: 7px;
    background-color: #fff;
  }

  .switch::after {
    position: absolute;
    content: '';
    border-radius: 3px;
    width: 34px;
    height: 6px;
    top: 3px;
    left: 6px;
    background-color: #68b738;
  }

}

@media (min-width: 768px) {

  .main-container {
    height: 100%;
  }

  .categories {
    margin: 540px 30px 20px 30px;
  }

  .first-screen {
    position: relative;
  }

  .category {
    position: relative;
    background-color: #f2f2f2;
  }

  .slimming,
  .weight-gain {
    margin: -2px 30px 0 30px;
  }

  .slimming__img {
    position: absolute;
    top: 82px;
    right: 74px;
    z-index: 1;
  }

  .slimming__title {
    color: #111111;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    padding: 70px 0 0 23px;
  }


  .weight-gain__img {
    position: absolute;
    top: 135px;
    right: 10px;
    z-index: 1;
  } 

  .weight-gain__title {
    color: #111111;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    padding: 70px 0 0 23px;
  }

  .slimming::after,
  .weight-gain::after {
    position: absolute;
    top: 95px;
    right: 45px;
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #68b738;
  }

  .category-description {
    margin-top: -20px;
    color: #444444;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 295px 0px 53px;
  }

  .link-container {
    margin: 50px 0 0 53px;
    padding-bottom: 53px;
  }

  .category-link {
    color: #111111;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
  }

  .arrow-img {
    padding-left: 23px;
    width: 24px;
  }

  .first-screen-img-container {
    position: absolute;
    top: 255px;
    left: 50px;
    z-index: -1;
  }

  .cat-energy-pro-img {
    padding: auto;
    width: 709px;    
    height: 609px;
  }

  .title-big {
    margin: 0;
    padding: 54px 0 0 117px;
    line-height: 60px;
    color: #111111;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
  }

  .slogan {
    margin: 0;
    padding: 35px 0 56px 118px;
    color: #111111;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
  }

  .choose-a-program {
    padding: 12px 30px 12px 25px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    margin-left: 120px;
  }

  .advantages-title {
    color: #111111;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    padding: 18px 0 57px 110px;
  }
  
  .advantages {
    margin: 0;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -27px;
  }

  .advantage-1,
  .advantage-2,
  .advantage-3,
  .advantage-4 {
    position: relative;
    display: block;
    width: 245px;
    height: 230px;
    margin-right: 0px;
    padding-left: 137px;
    padding-bottom: 88px;
  }

  .advantage-1::after {
    position: absolute;
    content: '1';
    top: -110px;
    right: 15px;
    color: #f2f2f2;
    font-family: Oswald;
    font-size: 281px;
    font-weight: 400;
    z-index: -1;
  }

  .advantage-2::after {
    position: absolute;
    content: '2';
    top: -110px;
    right: 0;
    color: #f2f2f2;
    font-family: Oswald;
    font-size: 281px;
    font-weight: 400;
    z-index: -1;
  }

  .advantage-3::after {
    position: absolute;
    content: '3';
    top: -110px;
    right: -2px;
    color: #f2f2f2;
    font-family: Oswald;
    font-size: 281px;
    font-weight: 400;
    z-index: -1;
  }

  .advantage-4::after {
    position: absolute;
    content: '4';
    top: -110px;
    right: -5px;
    color: #f2f2f2;
    font-family: Oswald;
    font-size: 281px;
    font-weight: 400;
    z-index: -1;
  }

  .advantage-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #68b738;

  }

  .advantage-description {
    color: #444444;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 0 0 0;
  }
}

@media (min-width: 1440px) {
  body {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .background-container {
    position: absolute;
    width: 720px;
    height: 696px;
    top: 0;
    right: 0;
    background-image: url('../img/index-background-desktop.jpg');
    background-repeat: no-repeat;
    z-index: -1;
  }

  .main-container {
    height: 100%;
  }

  .first-screen {
    position: relative;
  }

  .first-screen-img-container {
    position: absolute;
    top: 25px;
    left: 520px;
  }

  .title-big {
    margin: 0;
    padding: 105px 0 0 192px;
    line-height: 60px;
    color: #111111;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
  }

  .slogan {
    margin: 0;
    padding: 35px 0 60px 192px;
    color: #111111;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
  }

  .choose-a-program {
    padding: 12px 27px 12px 27px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    margin-left: 190px;
  }

  .categories {
    display: flex;
    justify-content: space-between;
    margin: 250px 90px 20px 50px;
  }

  .category {
    position: relative;
    background-color: #f2f2f2;
    margin: 30px 20px 20px 60px;
    width: 570px;
    height: 372px;
  }

  .slimming,
  .weight-gain {
    display: flex;
    align-items: center;
    // margin: 20px 10px 0 10px;
  }

  .slimming__img {
    position: inherit;
    width: 70px;
    height: 97px;
    padding: 27px 0 0 37px;
    z-index: 1;
  }

  .slimming::after,
  .weight-gain::after {
    position: absolute;
    top: 47px;
    left: 52px;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #68b738;
  }

  .slimming__title {
    color: #111111;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    padding: 34px 0 0 78px;

  }

  .category-description {
    margin: 0;
    color: #444444;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 28px 30px 0px 53px;
  }

  .link-container {
    margin: 27px;
    padding-top: 0px;
    padding-left: 26px;
    padding-bottom: 17px;
  }

  .category-link {
    color: #111111;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
  }

  .arrow-img {
    padding-left: 24px;
    width: 24px;
  }

  .weight-gain__img {
    position: inherit;
    width: 134px;
    height: 56px;
    padding: 40px 0 0 5px;
    z-index: 1;
  } 

  .weight-gain__title {
    color: #111111;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    padding: 34px 0 0 45px;
  }

  .advantages-title {
    color: #111111;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    padding: 18px 0 57px 110px;
  }
  
  .advantages {
    margin: 0 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .advantage-1,
  .advantage-2,
  .advantage-3,
  .advantage-4 {
    position: relative;
    display: block;
    width: 245px;
    height: 230px;
    margin-right: 0px;
    padding-left: 0;
  }

  .advantage-1::after {
    position: absolute;
    content: '1';
    top: -110px;
    right: 15px;
    color: #f2f2f2;
    font-family: Oswald;
    font-size: 281px;
    font-weight: 400;
    z-index: -1;
  }

  .advantage-2::after {
    position: absolute;
    content: '2';
    top: -110px;
    right: 0;
    color: #f2f2f2;
    font-family: Oswald;
    font-size: 281px;
    font-weight: 400;
    z-index: -1;
  }

  .advantage-3::after {
    position: absolute;
    content: '3';
    top: -110px;
    right: -2px;
    color: #f2f2f2;
    font-family: Oswald;
    font-size: 281px;
    font-weight: 400;
    z-index: -1;
  }

  .advantage-4::after {
    position: absolute;
    content: '4';
    top: -110px;
    right: -5px;
    color: #f2f2f2;
    font-family: Oswald;
    font-size: 281px;
    font-weight: 400;
    z-index: -1;
  }

  .advantage-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #68b738;

  }

  .advantage-description {
    color: #444444;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 0 0 0;
  }

}

