@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), local("Oswald-Regular"),
      url('../fonts/Oswald-Regular.woff2') format('woff2'),
      url('../fonts/Oswald-Regular.woff') format('woff'),
      url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Regular"), local("Arial-Regular"),
      url('../fonts/ArialMT.woff2') format('woff2'),
      url('../fonts/ArialMT.woff') format('woff'),
      url('../fonts/ArialMT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@import "blocks/global.scss";
@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/main.scss";