@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), local("Oswald-Regular"),
      url('../fonts/Oswald-Regular.woff2') format('woff2'),
      url('../fonts/Oswald-Regular.woff') format('woff'),
      url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@import "blocks/header.scss";